<section class="container">
  <div class="row">
    <div class="col-sm-6" *ngFor="let video of videos">
      <p>{{ video.title }}</p>
      <iframe width="560" height="315" [src]="video.url | safeUrl" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
  </div>
  <div class="row text-center">
    <a class="btn btn-secondary" href="#">View Complete Catalogue</a>
  </div>
</section>
